<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="hero-title">A pet store with everything you need</h1>
                    <p class="description">
                        Sociis blandit et pellentesque aliquet at quisque tortor lacinia nullam. Mattis aenean scelerisque dui libero
                    </p>
                    <a href="#" class="shop-now-btn">Mua Sắm Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>